@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to The Magic Password Generator!</p>
    <div class="optionItem"> <a href="~/Password/Index">Start the Magic!</a></div>
</div>
